.container {
    padding: 50px 20px;
    text-align: center;
    border-radius: 0 64px 64px 64px;
    background: #ffffff;
    margin: 54px auto 104px;
    max-width: 549px;

}

.container h2 {
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1.3em;
    letter-spacing: 1.2px;
    text-align: center;
    font-family: Inter, sans-serifa, sans-serif;
}

.container p{
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;

}

@media (max-width: 768px) {
    .container p{
        text-align: justify;
    }
}
