.container {
    padding: 32px 48px 48px;
    border-radius: 0 64px 64px 64px;
    background: #ffffff;
    margin: 54px auto 104px;
    max-width: 549px;
    text-align: left;
}

.title_container {
    margin-bottom: 32px;
}

.list_container {
    list-style-type: circle;
    padding: 10px 40px;
}

.title {
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1.3em;
    letter-spacing: 1.2px;
    text-align: center;
    font-family: Inter, sans-serifa, sans-serif;
}

.you_get {
    font-size: 1.2rem;
    font-weight: 800;
}

.center_paragraph {
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        background: transparent;
        padding: 20px 20px;
        width: 100%;
    }

    .title {
        font-weight: 800;
        font-size: 1.4rem;
    }
}
